html{
	background-color: #c4c4ff;
}
h1{
	color:#1d00ff;
	font-size: 30px;
	text-align:center;
}
ul li{
	border:solid;
}
#prvni {
	color: #1f0079;
}
.prvni-trida{
	font-style: italic;
}
.tucna-trida{
	font-weight: bold;
}
th.tucna-trida{
	font-size: 30px;
}
.cisla{
	color:white;
	font-weight:900;
}